---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: laravel-demo
name: laravel-demo
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/home/mikica/laravel-demo"
      to: "/home/vagrant/laravel-demo"

sites:
    - map: homestead.app
      to: "/home/vagrant/laravel-demo/public"

databases:
    - homestead

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
